body {
    margin: 0;
   
}

#olxIcon {
    width: 55px;
    height: 35px;
    margin-left: 20px;
}
#carIcon {
    width: 30px;
    height: 35px;
}
#bikeIcon {
    width: 30px;
    height: 30px;
}

.header-icons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px;
    background-color: #EBF1FF;

}

#sellIcon {
    width: 80px;
    height: 55px;
    margin-right: 20px;
}

.header-middle {
    display: flex;
    align-items: center;
    gap: 15px;
}

.mainImage  {
    width: 1300px;
    height: auto;
    margin-top: 20px;
    padding-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainImage img {
    border-radius: 10px;
    height: auto;
}


/* Categories */
.categories {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 30px 20px;
  flex-wrap: wrap;
}

.cat-box {
  text-align: center;
}

.cat-box img {
  width: 60px;
  height: 60px;
}

.cat-box p {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
}
.cat-box a {
  text-decoration: none;
  color: #333;
}

.cat-box img {
  border-radius: 30%;
}

.categoriesHeading {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 40px;
  margin-top: 30px;
}

.searchIcon{
    width: 130px;
    height: 43px;
    background-color: #002F34;
    position: absolute;
    right: 31px;
    top: 107px;
    transform: translateY(-50%);
    border-radius: 0 6px 6px 0;
}

.searchIcon img{
    width: 20px;
    height: 20px;
    margin: 10px 5px;
    vertical-align: middle;
}
.searchIcon p{
    display: inline;
    color: white;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    vertical-align: middle;
}